body {
    font-family: Arial, Helvetica, sans-serif;
}
#Form {
    text-align: center;
}
h1 {
    font-size: 50px;
}
#usuario {
    border-radius: 50px;
}
#usuarioSenha {
    border-radius: 50px;
}
#button1 {
    border-radius: 50px;
    
}
#spanN {
    font-size: 11px;
}